@import url(http://fonts.googleapis.com/css?family=Tenor+Sans);

body{
  background-image: url(pattern.png);
  background-size: cover;
  
  font-family: "Tenor Sans", sans-serif;
}




/*==================================================
 * Effects
 * ===============================================*/
 .effect1{
   -webkit-box-shadow:0 0 20px rgba(0,0,0,0.8);
    -moz-box-shadow:0 0 20px rgba(0,0,0,0.8);
    box-shadow:0 0 20px rgba(0,0,0,0.8);
 }
.effect2{
 -webkit-box-shadow: 0 3px 3px #393939;
 -moz-box-shadow: 0 3px 3px #393939;
 box-shadow: 0 3px 3px #393939;
}

.cwFont{
  color: rgb(106,169,218);
}

.fa{
  color: #fff;
}

/*==================================================
 * Footer
 * ===============================================*/
.footer{
    height: 10%;
    right: 0;
    bottom: 0;
    left: 0;
    padding: 1rem;
    background-color: #393939;
    text-align: center;
}

/*==================================================
 * Navbar
 * ===============================================*/

